<popular-apps></popular-apps>

<div class="row">
    <div class="row app-row">
        <div class="col-md-12">

            <div class="media">
                <div class="media-left">
                    <a href="#/">
                        <img class="media-object" ng-src="{{app.image512}}" alt="...">
                    </a>
                </div>

                <div class="media-body">
                    <h4 class="media-heading">{{app.name}}</h4>

                    {{app.description}}

                    <div class="ratings pull-button">
                        <p class="pull-right">
                            <a type="button"
                               ng-href="{{downloadUrl}}"
                               class="btn btn-primary btn-lg pull-right download-btn">Download
                            </a>
                        </p>

                        <p>
                                <span ng-repeat="star in rateStars track by $index"
                                      ng-class=" ($index + 1 <= app.rate) ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>

                            <span>reviews: {{app.reviews}} downloads: {{app.downloads}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>