<div class="row top-five">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
        <img src="http://placehold.it/512x512" class="img-thumbnail" alt="">
    </div>
    <div class="col-md-2">
        <img src="http://placehold.it/512x512" class="img-thumbnail" alt="">
    </div>
    <div class="col-md-2">
        <img src="http://placehold.it/512x512" class="img-thumbnail" alt="" width="200" height="200">
    </div>
    <div class="col-md-2">
        <img src="http://placehold.it/512x512" class="img-thumbnail" alt="" width="512" height="512">
    </div>
    <div class="col-md-2">
        <img src="http://placehold.it/512x512" class="img-thumbnail" alt="" width="512" height="512">
    </div>
    <div class="col-md-1">

    </div>
</div>

<div class="row">

    <div class="col-md-3">
        <p class="lead">Categories</p>

        <div class="list-group">
            <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row app-row">
            <div class="col-md-12">

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="http://placehold.it/128x128" alt="...">
                        </a>
                    </div>

                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">First Product</a></h4>

                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                        commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                        nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        <div class="ratings pull-button">
                            <p class="pull-right">15 reviews</p>

                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row app-row">
            <div class="col-md-12">

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="http://placehold.it/128x128" alt="...">
                        </a>
                    </div>

                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">First Product</a></h4>

                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                        commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                        nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        <div class="ratings pull-button">
                            <p class="pull-right">15 reviews</p>

                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


