<div class="row top-five">
    <div class="col-md-1"></div>
    <div class="col-md-2" ng-repeat="app in popularApps">
        <img ng-src="{{app.image512}}" class="img-thumbnail" alt="">
    </div>

    <div class="col-md-1"></div>
</div>

<div class="row">

    <div class="col-md-3">
        <p class="lead">Categories</p>

        <div class="list-group">
            <a href="#/"
               ng-repeat="category in categories"
               ng-class="isSelected(category) ? 'active' :'' "
               ng-click="selectCategory(category)"
               class="list-group-item">{{category.categoryName}}</a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row app-row" ng-repeat="app in displayedApps">
            <div class="col-md-12">

                <div class="media">
                    <div class="media-left">
                        <a href="#/">
                            <img class="media-object" ng-src="{{app.image128}}" alt="...">
                        </a>
                    </div>

                    <div class="media-body">
                        <h4 class="media-heading"><a href="#/">{{app.name}}</a></h4>

                        {{app.description}}

                        <div class="ratings pull-button">
                            <p class="pull-right">
                                <span>Rate this app</span>
                                <select ng-model="app.newRate"
                                        ng-options="val for val in rateStars"
                                        ng-init="app.newRate = app.newRate || rateStars[0]">
                                </select>
                                <button ng-click="rateApp(app)" class="btn btn-primary btn-xs">Rate</button>
                            </p>

                            <p>
                                <span ng-repeat="star in rateStars track by $index"
                                      ng-class=" ($index + 1 <= app.rate) ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>

                                <span>{{app.reviews}} reviews</span>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav ng-show="displayedApps.length > 0">
            <ul class="pagination">
                <li ng-class="isCurrentPage($index) ? 'active' : ''" ng-repeat="page in pages track by $index">
                    <a href="#/" ng-click="pageClick($index)">{{$index + 1}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


