<div class="row">
    <div ng-show="uploadSuccess"
         class="alert alert-success alert-dismissible fade in"
         role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">?</span>
        </button>
        <strong>Success!</strong> Application successfully uploaded.
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="name">Application name</label>
            <input type="text" id="name" ng-model="name" class="form-control" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="description">Application description</label>
            <textarea rows="4" id="description" ng-model="description" class="form-control"
                      placeholder="Description"></textarea>
        </div>

        <div class="form-group">
            <label for="selectCategory">Application category</label>
            <select id="selectCategory"
                    ng-model="categoryId"
                    class="form-control">
                <option ng-repeat="category in categories" value="{{category.id}}">{{category.categoryName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="appFile">Apllication file</label>
            <input id="appFile" app-upload="appFile" type="file"/>

            <p class="help-block">File should be of .zip extension</p>
        </div>

        <button type="submit" class="btn btn-primary" ng-click="uploadCtrl.doUpload()">Upload</button>
    </div>
</div>