<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Name">
        <input type="text" name="description" class="form-control" placeholder="Description">

        <label for="categoryId"> Category:</label>
        <select id="categoryId" name="categoryId" ng-model="uploadCtrl.category">
            <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
        </select>
        <button type="submit" class="btn btn-default" ng-click="uploadCtrl.upload()">Sign in</button>

    </div>
</form>