<div class="form-group">
    <input type="text" name="name" ng-model="name" class="form-control" placeholder="Name">
    <input type="text" name="description" ng-model="description" class="form-control" placeholder="Description">
    <input name="appFile" app-upload="appFile" type="file" />

    <label for="categoryId"> Category:</label>
    <select id="categoryId" name="categoryId" ng-model="categoryId">
        <option ng-repeat="category in categories" value="{{category.id}}">{{category.categoryName}}</option>
    </select>
    <button type="submit" class="btn btn-default" ng-click="uploadCtrl.doUpload()">Upload</button>

</div>